<mat-card class="cardWithShadow">
    <mat-card-title class="profile-title">Data Configuration</mat-card-title>
  <mat-divider class="divider-header"></mat-divider>
      <mat-card-content>
        <div class="container">
          
                <mat-card class="details-card">

                    <mat-card-content>
                <form class="user-form">
                    <mat-form-field appearance="fill">
                      <mat-label>Company Name</mat-label>
                      <input matInput placeholder="Company Name" value="Creative Cute Options INC." required>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" value="(818) 772-6070" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Fax</mat-label>
                        <input matInput placeholder="Fax" value="(818) 772-8580" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="update-button" type="submit">Update Data</button>
                  </form>
                </mat-card-content>
                  </mat-card>

                  <mat-card class="details-card">

                    <mat-card-content>
                <form class="user-form">
                    <mat-form-field appearance="fill">
                      <mat-label>Invoice Serial</mat-label>
                      <input matInput placeholder="Invoice Serial" value="2024/ 10" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Comapny Address</mat-label>
                        <textarea matInput placeholder="Comapny Address" value="9221 VANALDEN AVE, NORTHRIDGE, CA 91324"></textarea>
                      </mat-form-field>
                  </form>
                </mat-card-content>
                  </mat-card>

          </div>
          <button mat-raised-button color="primary" class="update-button" type="submit">Update Data</button>
        
      </mat-card-content>
</mat-card>
